= simple_form_for(@paquete) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: false, input_html:  { class: 'form-control', placeholder: "Título" }
    %br
    = f.input :description, label: false, input_html:  { class: 'form-control', placeholder: "Descripción", style:"height:210px"}
    %br
    = f.input :image, as: :file
    %br
    %br

  .form-actions
    = f.button :submit, class: "pull-right btn btn-primary"
  %br
  %br
