= content_for(:title, "Admin - Paquetes")
%center
  %h3 Listado de paquetes
  = link_to "Nuevo paquete", new_paquete_path, class: 'btn btn-success'

%table.table.datatable
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th 
      %th 
      %th 

  - @paquetes.each do |paquete|
    %tr
      %td= paquete.name
      %td= paquete.description
      %td= link_to 'Vista previa', paquete
      %td= link_to 'Editar', edit_paquete_path(paquete)
      %td= link_to 'Eliminar', paquete, :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar?' }



= render "layouts/script_datatable"