%p#notice= notice

%p
  %b Name:
  = @paquete.name
%p
  %b Description:
  = @paquete.description
%p
  %b Image:
  = image_tag @paquete.image, width: "300px"
%p
  %b Price:
  = @paquete.price

= link_to 'Edit', edit_paquete_path(@paquete)
\|
= link_to 'Back', paquetes_path
