= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: false, input_html: { class: 'form-control', placeholder: "Nombre" }
    %br
    = f.input :email, label: false, input_html: { class: 'form-control', placeholder: "Email" }
    %br
    = f.input :password, label: false, input_html: { class: 'form-control', placeholder: "Contraseña" }
    %br
    = f.input :password_confirmation, label: false, input_html: { class: 'form-control', placeholder: "Confirmación de contraseña" }
    %br
  .form-actions
    = f.button :submit, "Guardar Usuario", class: "pull-right btn btn-primary"