= content_for(:title, "Admin - Usuarios")
%center
  %h3 Listado de usuarios
  = link_to "Nuevo Usuario", new_user_path, class: 'btn btn-success'
%table.table.datatable
  %thead
    %tr
      %th Nombre
      %th Email
      %th Role
      %th 
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td
          %a{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Cambiar rol
          = render user
        %td= link_to("Eliminar usuario", user_path(user), :data => { :confirm => "Si elimina esta categoria, se eliminaran todos los posts relacionados, ¿estas seguro de querer eliminar?'" }, :method => :delete) unless user == current_user

= render "layouts/script_datatable"
