= content_for(:title, "Judibana Viajes - Inicio")
%section.home
	.content-home
		= render template: "home/carrucel"
		.image-phone.visible-xs
		.container-orange			
		.container-white		
			.container						
				.row.boxes-home
					.col-lg-5.col-md-5
						.box-home#reservas
							.title-reservas
								%center
									%p 
										%i.fa.fa-plane
										= t('home.reservas.vuelos')
							.form-reservas
								%p
									= t('home.reservas.text_1')
								= form_tag home_send_reservar_path, method: "post" do
									.col-lg-5.col-md-5.col-sm-5
										.col-lg-12.col-md-12.col-sm-12
											= radio_button_tag :theme, 'ida', true
											= t('home.reservas.ida')
										.col-lg-12.col-md-12.col-sm-12
											= radio_button_tag :theme, 'ida_vuelta'
											= t('home.reservas.vuelta')										
									.col-lg-7.col-md-7.col-sm-7									
										.col-lg-12.col-md-12.col-sm-12
											= radio_button_tag :agencia, 'jardin'
											= t('home.reservas.jardin')
										.col-lg-12.col-md-12.col-sm-12
											= radio_button_tag :agencia, 'caribe'
											= t('home.reservas.caribe')

									.row
										.col-lg-12
											= text_field_tag :nombre, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.nombre')}", disabled: "disabled", required: "true"
										.col-lg-12
											= text_field_tag :telefono, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.telefono')}", disabled: "disabled", required: "true"
										.col-lg-12
											= text_field_tag :cedula, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.cedula')}", disabled: "disabled", required: "true"
										.col-lg-12
											= text_field_tag :email, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.email')}", disabled: "disabled", required: "true", type: "email"
										.col-lg-12
											= select_tag :vendedor, options_for_select(["#{t('home.reservas.vendedor')}"]), class: "input-reserva", disabled: "disabled"	, required: "true"
										.col-lg-6.col-md-6
											= select_tag :origen, options_for_select(["#{t('home.reservas.origen')}", "Caracas", "Barquisimeto", "Maracaibo", "Porlamar", "Puerto Ordaz", "Cumaná", "Valencia", "Puerto Cabello", "Las Piedras", "Coro", "Mérida", "Maturin", "El Vigia", "Santo Domingo", "Barcelona", "Canaima"]), class: "input-reserva", disabled: "disabled"	, required: "true"							
										.col-lg-6.col-md-6
											= select_tag :destino, options_for_select(["#{t('home.reservas.destino')}", "Caracas", "Barquisimeto", "Maracaibo", "Porlamar", "Puerto Ordaz", "Cumaná", "Valencia", "Puerto Cabello", "Las Piedras", "Coro", "Mérida", "Maturin", "El Vigia", "Santo Domingo", "Barcelona", "Canaima"]), class: "input-reserva", disabled: "disabled"	, required: "true"
									.row
										.col-lg-6.col-md-6
											= text_field_tag :salida, "#{DateTime.now.strftime("%d/%m/%Y")}", class: "input-reserva date", :placeholder=>"#{t('home.reservas.salida')}", disabled: "disabled", required: "true"																
										.col-lg-6.col-md-6
											- cout = DateTime.now+1	
											= text_field_tag :retorno, "#{cout.strftime("%d/%m/%Y")}", class: "input-reserva date", :placeholder=>"#{t('home.reservas.retorno')}", disabled: "disabled"	, required: "true"
									.row
										.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-right: 0px;"}
											= select_tag :adultos, options_for_select([ "#{t('home.reservas.adultos')}", "1", "2", "3", "4", "5" ], "#{t('home.reservas.adultos')}"), class: "select-reserva"			, disabled: "disabled"					
										.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;padding-right: 0px;"}
											= select_tag :mayores, options_for_select([ "#{t('home.reservas.mayores')}", "1", "2", "3", "4", "5"  ], "#{t('home.reservas.mayores')}"), class: "select-reserva", disabled: "disabled"
										.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;padding-right: 0px;"}
											= select_tag :nino, options_for_select([ "#{t('home.reservas.ninos')}", "1", "2", "3", "4", "5" ], "#{t('home.reservas.ninos')}"), class: "select-reserva", disabled: "disabled"											
										.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;"}
											= select_tag :bebes, options_for_select([ "#{t('home.reservas.bebes')}", "1", "2", "3", "4", "5"  ], "Bébes"), class: "select-reserva", disabled: "disabled"
									= submit_tag "#{t('home.reservas.submit')}", class: "btn-judibana", style:"width:100%",id:"id-btn-reserva", disabled: "disabled"
					.col-lg-7.col-md-7		
						- @paquetes.each do |paquete|
							%br.visible-xs
							.col-lg-6.col-md-6.col-sm-6				
								.box-destino
									%a{ href: "/package/show/#{paquete.id}", "data-no-turbolink"=>'true' }
										.image-destino-1{style:"background: url('#{paquete.image}');background-size: cover;"}
									.title-destino
										.row
											.col-lg-12.col-md-12.col-sm-12.col-xs-12
												%center
													%h3.white-font 
														= paquete.name
				%h1{style:"color:#fa7900;"} 
					= t('home.noticias.titulo')
				%hr
				- @posts.each do |post|
					- if post.public == true
						%br.visible-xs
						.col-lg-4.col-md-4.col-sm-6
							.post-min
								= link_to news_show_path(post.id), class: 'news-title', data: { no_turbolink: true } do
									%h3=post.title
								%i.fa.fa-calendar
								%small= post.created_at.strftime("%B %d, %Y")
								%i.fa.fa-user
								%small= post.user.name
								%i.fa.fa-folder-open
								%small= post.category.name
								.post-image-min
									= image_tag "#{post.image}", class: 'news-image'
							
					



