= content_for(:title, "Judibana Viajes - Noticias")
- @posts.each	do |post|
	.post{ style: 'margin-bottom:15px;'}
		= link_to news_show_path(post.id), class: 'news-title', data: { no_turbolink: true } do
			%h4= post.title
		%i.fa.fa-calendar
		%small= post.created_at.strftime("%B %d, %Y")
		%i.fa.fa-user
		%small= post.user.name
		%i.fa.fa-folder-open
		%small= post.category.name
		- if Blog.commentable
			%small.pull-right= "#{post.comments.count} commets"
			%i.fa.fa-comment.pull-right
		.post-image
			= image_tag "#{post.image}", class: 'news-image'
		.post-text{ class: "#{'delete-image' if params[:action] == 'news'}"}
			%p= "#{post.content.split(" ")[0..80].join(" ")}...".html_safe
	%hr
.row
	%center
		= paginate @posts
