= content_for(:title, "Judibana Viajes - Nosotros")
#img-nosotros
	.title		
		.min-title
			Judibana Viajes
		%p 
			=t('about.titulo_1')
.container-orange	
#nosotros
	.container		
		= image_tag "about.png", width: "100%"	
		%br
		.row
			.col-lg-6.col-md-6{align:"justify"}
				= raw t('about.texto_1')
				%br
				%br
				= raw t('about.texto_2')
			%br.visible-xs.visible-sm
			.col-lg-6.col-md-6{align:"justify"}
				= raw t('about.texto_3')
				%br
				%br
				= raw t('about.texto_4')
		%br
		= image_tag "logo.png", width: "50%", class: "logo-about"	
		
