= content_for(:title, "Judibana Viajes - Formulario Enviado")
#img-nosotros
	.title		
		.min-title
			Soporte al Cliente
		%p Judibana Viajes.
.container-orange
#nosotros
	.container
		.done-box
			%center
				%h1{style:"color:#db3807"}
					= flash.notice
				%hr
				%p 
					= flash[:msn]
				%br
				%i.fa-fa-envelope{style:"color:#000"}
				
