<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
      <ol class="carousel-indicators hidden-xs">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="image-1">
            <div class="text-carrucel-1 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h1') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p1') %><a data-no-turbolink='true' href="/about" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></a> </p></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="image-2">
            <div class="text-carrucel-2 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h2') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p2') %><a data-no-turbolink='true' href="/packages" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></a> </p></div>
            </div>
          </div>
        </div>
        <div class="item" >
          <div class="image-3">
            <div class="text-carrucel-3 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h3') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p3') %><button data-toggle="modal" data-target="#myModal" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></button></p></div>
            </div>
          </div>
        </div>
        <div class="item" >
          <div class="image-4">
            <div class="text-carrucel-4 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h4') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p4') %><a target="_blank" data-no-turbolink='true' href="http://www.iatatravelcentre.com/VE-Venezuela-customs-currency-airport-tax-regulations-details.htm" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></a> </p></div>
            </div>
          </div>
        </div>
        <div class="item" >
          <div class="image-7">
            <div class="text-carrucel-7 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h5') %> </center></h1></div>              
                <div class="texto"><p><%= t('home.carrucel.texto_p5') %> 
                  <%- if current_user %>
                    <a data-no-turbolink='true' class='btn btn-warning btn-image btn-chat' disabled><%= t('home.carrucel.ver_mas') %></a>
                  <%- else %>
                    <a data-no-turbolink='true' class='btn btn-warning btn-image btn-chat'><%= t('home.carrucel.ver_mas') %></a> 
                  <%- end %>
                </p></div>             
            </div>
          </div>
        </div>
        <div class="item" >
          <div class="image-5">
            <div class="text-carrucel-5 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h6') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p6') %><a data-no-turbolink='true' href="/packages" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></a> </p></div>
            </div>
          </div>
        </div>
        <div class="item" >
          <div class="image-6">
            <div class="text-carrucel-6 visible-md visible-lg">
              <div class="titulo"><h1><center><%= t('home.carrucel.texto_h7') %></center></h1></div>
              <div class="texto"><p><%= t('home.carrucel.texto_p7') %><a data-no-turbolink='true' href="/contact_us" class='btn btn-warning btn-image'><%= t('home.carrucel.ver_mas') %></a> </p></div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.btn-chat').click(function(){
      if($(".button_chat").attr('disabled')=='disabled'){     
        alert("Este servicio no esta activo en este momento, intente más tarde.");  
      }else{
        newwindow=window.open("chats/client","Chat-Support","toolbar=no, location=no, directories=no, status=no, menubar=no, resizable=no, copyhistory=no,width=500,height=600"); 
      }
    });
    $('.carousel').carousel({
      interval: 160000
    })
  });

</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag "logo.png", width: "200px"%></h4>
      </div>
      <div class="modal-body">
        <%= image_tag "mapa.png"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>