= content_for(:title, "Judibana Viajes - Contacto")
#img-contact
	.title
		.min-title
			= t('contactos.titulo_1')
		%p 
			= t('contactos.titulo_2')
.container-orange	
#contactos
	.container
		= raw flash.notice
		.row
			.col-lg-6.col-md-6.col-sm-6
				.contactos-box
					%h1{style:"color:#db3807;font-family: 'Raleway', sans-serif;"} 
						= t('contactos.titulo_2')
					%hr
					= image_tag "logo.png", class: "logo-contactos"
					.contactos-box-min
						%ul.contactos-lista  
							%li 
								%i.fa.fa-phone.fa-2x{style:"padding-left: 4px;"}
								&nbsp &nbsp  
								%b Principal: 
								+58 (0269) 2461254
								%br
								&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
								%b Sucursal: 
								+58 (0269) 2473659/2450554
								%br
								%br 
							%li 
								%i.fa.fa-envelope.fa-2x
								&nbsp &nbsp 
								%b Email: 
								info@judibanaviajes.com
								%br 
								%br
							%li 
								%i.fa.fa-facebook-square.fa-2x
								%a{:href => "https://www.facebook.com/pages/Judibana-Viajes/1500588213509680", target: "_blank" }
									&nbsp &nbsp 
									= t('contactos.facebook')
								%br
								%br
							%li 
								%i.fa.fa-twitter-square.fa-2x
								%a{:href => "https://twitter.com/judibanaviajes", target: "_blank" } 
									&nbsp &nbsp 
									= t('contactos.twitter')
								%br 
								%br
			%br.visible-xs
			.col-lg-6.col-md-6.col-sm-6
				.contactos-box
					.contactos-box-min
						%h1{style:"color:#db3807;font-family: 'Raleway', sans-serif;"} 
							=t('contactos.escribenos')
						%hr
						.row 
							= form_tag({controller: "home", action: "send_contact_message"}, {class: "contact_form"}) do
								= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>"#{t('home.reservas.nombre')}", style: 'margin-bottom: 10px;', required: "true"
								= text_field_tag :email, "", :class=>'form-control', :type => "email", :placeholder=>"#{t('home.reservas.email')}", style: 'margin-bottom: 10px;', required: "true"
								= text_area_tag :comment, "", :class=>'form-control' , :placeholder=>"#{t('contactos.mensaje')}", style: 'margin-bottom: 10px; height: 80px;', required: "true"
								#recaptcha_widget{:style => "display:block"}
									#recaptcha_image
									.input-group{ style:'margin-top: 5px; margin-bottom:10px;'}
										= text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha"
										%span.input-group-btn
											= button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
								= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true								
								= button_tag(type: 'submit', class: "btn-judibana", style:"width:100%") do
									%i.fa.fa-envelope.fa-2x
			%br
			.col-lg-12
				.contactos-box-horizontal
					.contactos-box-min
						%h1{style:"color:#db3807;font-family: 'Raleway', sans-serif;margin-bottom:18px;"} 
							%center
								%i.fa.fa-map-marker							
								= t('contactos.principal')
						#map_canvas2
						%br
						%center
							%p Principal: CC. Jardin, Judibana, Punto Fijo, Falcón

			.col-lg-12
				.contactos-box-horizontal
					.contactos-box-min
						%h1{style:"color:#db3807;font-family: 'Raleway', sans-serif;margin-bottom:18px;"} 
							%center
								%i.fa.fa-map-marker
								= t('contactos.sucursal')
						#map_canvas1
						%br
						%center
							%p Sucursal: CC: Caribe, Av. Bolívar, Punto Fijo, Falcón.
			




