= content_for(:title, "Judibana Viajes - Paquetes")
#img-packages
	.title		
		.min-title
			= t('packages.titulo_1')
		%p 
			= t('packages.titulo_2')
.container-orange	
#packages
	.container
		- @paquetes.each do |paquete|
			.col-lg-4.col-md-4.col-sm-6				
				.box-home
					%a{ href: "/package/show/#{paquete.id}", "data-no-turbolink"=>'true'}
						.image-destino-1{style:"background: url('#{paquete.image}');background-size: cover;"}
					.title-destino
						.row
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								%h3.white-font 
									= paquete.name

