= content_for(:title, "Judibana Viajes - Paquetes")
#img-packages
	.title		
		.min-title
			= t('packages.titulo_1')
		%p 
			= t('packages.titulo_2')
.container-orange
#packages
	.container
		.row
			.col-lg-4{style:"padding-top:20px;"}
				.box-home
					.image-destino-1{style:"background: url('#{@paquete.image}');background-size: cover;"}
					.title-destino
						.row
							.col-lg-12.col-md-12.col-sm-12.col-xs-12
								%h3.white-font 
									= @paquete.name
				%p{align:"justify"}
					%label
						= t('packages.descripcion')
					= @paquete.description
			.col-lg-8
				.reserva-package-box
					.form-reservas
						%h1{style:"color:#db3807"} 
							=t('packages.titulo_3')
						%hr
						.form-reservas
							%p Elige la agencia en donde reservarás: 
							= form_tag home_send_reservar_paquete_path, method: "post" do							
								.col-lg-6.col-md-6.col-sm-6
									= radio_button_tag :agencia, 'jardin'
									= t('packages.principal') 
									= t('home.reservas.jardin')									
								.col-lg-6.col-md-6.col-sm-6
									= radio_button_tag :agencia, 'caribe'
									= t('packages.sucursal')  
									= t('home.reservas.caribe')

								.row
									.col-lg-12
										= text_field_tag :nombre, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.nombre')}", disabled: "disabled"
									.col-lg-12
										= text_field_tag :telefono, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.telefono')}", disabled: "disabled"
									.col-lg-12
										= text_field_tag :cedula, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.cedula')}", disabled: "disabled"
									.col-lg-12
										= text_field_tag :email, '', class: "input-reserva", :placeholder=>"#{t('home.reservas.email')}", disabled: "disabled"
									.col-lg-12
										= select_tag :vendedor, options_for_select(["#{t('home.reservas.vendedor')}"]), class: "input-reserva", disabled: "disabled"	, required: "true"
									.col-lg-6.col-md-6
										= select_tag :origen, options_for_select(["#{t('home.reservas.origen')}", "Caracas", "Barquisimeto", "Maracaibo", "Porlamar", "Puerto Ordaz", "Cumaná", "Valencia", "Puerto Cabello", "Las Piedras", "Coro", "Mérida", "Maturin", "El Vigia", "Santo Domingo", "Barcelona", "Canaima"]), class: "input-reserva", disabled: "disabled"											
									.col-lg-6.col-md-6										
										= text_field_tag :destino, @paquete.name, class: "input-reserva", :placeholder=>"#{t('home.reservas.destino')}", disabled: "disabled", readonly:"true"
								.row
									.col-lg-6.col-md-6
										= text_field_tag :salida, "#{DateTime.now.strftime("%d/%m/%Y")}", class: "input-reserva date", :placeholder=>'Salida', disabled: "disabled", required: "true"										
									.col-lg-6.col-md-6
										- cout = DateTime.now+1	
										= text_field_tag :retorno, "#{cout.strftime("%d/%m/%Y")}", class: "input-reserva date", :placeholder=>'Retorno', disabled: "disabled"	, required: "true"
								.row
									.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-right: 0px;"}
										= select_tag :adultos, options_for_select([ "#{t('home.reservas.adultos')}", "1", "2", "3", "4", "5" ], "Adultos"), class: "select-reserva"			, disabled: "disabled"					
									.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;padding-right: 0px;"}
										= select_tag :mayores, options_for_select([ "#{t('home.reservas.mayores')}", "1", "2", "3", "4", "5"  ], "Mayores"), class: "select-reserva", disabled: "disabled"
									.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;padding-right: 0px;"}
										= select_tag :nino, options_for_select([ "#{t('home.reservas.ninos')}", "1", "2", "3", "4", "5" ], "Niños"), class: "select-reserva", disabled: "disabled"											
									.col-lg-3.col-md-3.col-sm-3.col-xs-3{style:"padding-left: 0px;"}
										= select_tag :bebes, options_for_select([ "#{t('home.reservas.bebes')}", "1", "2", "3", "4", "5"  ], "Bébes"), class: "select-reserva", disabled: "disabled"
								= submit_tag "#{t('home.reservas.submit')}", class: "btn-judibana", style:"width:100%",id:"id-btn-reserva", disabled: "disabled"
