.container#windows_chat
	#body-msg
		
	%br
	= text_field_tag :message, "", class: "form-control", id: "field-msg"
	= button_tag "enviar", class: "form-control", onclick: "send()"

	%audio#audio
		%source{src: "../../assets/alert.mp3", type: "audio/mp3"}
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.1/socket.io.min.js" }
%script
	var socket = io.connect('//judibanaviajes.com:3002/');
	- if current_user
		socket.emit("conectar_admin", { 'name': "#{current_user.name}", 'id': "#{current_user.id}", 'role': "#{current_user.roles.first.name}", 'chat': 'on' });
		socket.emit("atendiendo_chat", {'client_id': "#{params[:id]}"});
	
:javascript
	function send() {
		if($("#field-msg").val()){
			$("#body-msg").append("<p><span class='label label-warning'><b>(Yo)</b></span> : "+$("#field-msg").val()+"</p>");
			socket.emit('send_message', { client_id: "#{params[:id]}", admin_id: "#{current_user.id}", msg: $("#field-msg").val(), from: "admin" })
			$("#field-msg").val("");		
			var objDiv = document.getElementById("body-msg");
			objDiv.scrollTop = objDiv.scrollHeight;
		}
	}

	$(document).keypress(function(e) {
	    if(e.which == 13) {
	       send();
	    }
	});

	socket.on('send-message-admin', function(data) {
		$("#audio")[0].play();	
		$("#body-msg").append("<p><span class='label label-info'><b>"+data.client['name']+"</b></span> : "+data.msg+"</p>")		
		var objDiv = document.getElementById("body-msg");
		objDiv.scrollTop = objDiv.scrollHeight;
	});

	socket.on('close_chat_client', function(data) {
		$("#audio")[0].play();	
		$("#body-msg").append("<p class='chat-close'><div class='alert alert-danger' role='alert'>"+data.msg+"</div></p>")		
		var objDiv = document.getElementById("body-msg");
		objDiv.scrollTop = objDiv.scrollHeight;
		$(".form-control").attr('disabled', true);
	});
	
	