.container
	= form_tag({controller: "chats", action: "windows_chat"}, {class: "contact_form"}) do
		%br
		= text_field_tag :name, "", id: "name", placeholder: "Nombre", class: "form-control", required: "true"
		%br
		= text_field_tag :email, "", id: "email", placeholder: "Email", class: "form-control", type: "email", required: "true"
		%br
		= text_field_tag :question, "", id: "Pregunta", placeholder: "Escriba su pregunta aqui.", class: "form-control" , required: "true"
		%br
		%br
		.modal-footer
			= submit_tag "Enviar", class: "btn btn-success"