= content_for(:title, "Admin - Soporte Al Cliente")
%center
	%h1 Solicitudes de Soporte al Cliente
%table.table.datatable
	%thead
		%tr
			%th Nombre
			%th Email
			%th Pregunta
			%th ID
			%th
	%tbody#client
      
:javascript
	
	socket.emit("all_clients", { id: "#{current_user.id}" });
	
	socket.on('show_chat', function(data){
		$("#client").append("<tr id="+data.id+"><td id='name'>"+data.name+"</td><td id='email'>"+data.email+"</td><td id='question'>"+data.question+"</d><td id='id'>"+data.id+"</td><td><button class='btn btn-success button_admin' onclick=emit_chat_admin('"+data.id+"','"+replaceAll(data.name, " ","_")+"')>Atender</button></td></tr>");
	});

	socket.on("delete_index_chat", function(data) {
		$("#"+data.id).remove();
	});

	socket.on("show_all_client", function(data) {
		var btn;
		var info = "Ya esta siendo atendido."
		for(var i=0; i<data.length; i++) {
			//habilitar el button segun el status
			if (data[i].status == 0) {
				btn = "<button class='btn btn-success button_admin' onclick=emit_chat_admin('"+data[i].id+"','"+replaceAll(data[i].name, " ","_")+"')>Atender</button>"
				
			} else {
				btn = "<button class='btn btn-danger' onclick=atendido()>Atendiendo</button>"
			}

			if($("#"+data[i].id).length == 0) {
				$("#client").append("<tr id="+data[i].id+"><td id='name'>"+data[i].name+"</td><td id='email'>"+data[i].email+"</td><td id='question'>"+data[i].question+"</d><td id='id'>"+data[i].id+"</td><td>"+btn+"</td></tr>")
			}
		}
	});

	function emit_chat_admin(id, name) {
		newwindow=window.open("/chats/admin_chat/"+id+"/"+name, "Chat-Support "+id, "toolbar=no, location=no, directories=no, status=no, menubar=no, resizable=no, copyhistory=no,width=500,height=600");
	}


	socket.on("atendido", function(data){
		$("#"+data.client.id+" button").attr("class", "btn btn-danger");
		$("#"+data.client.id+" button").attr("onclick", "atendido()");
		$("#"+data.client.id+" button").html("Atendiendo");
	});

	function atendido() {
		alert("Este usuario ya está siendo atendido.")
	}


	function replaceAll( text, busca, reemplaza ){
		while (text.toString().indexOf(busca) != -1)
			text = text.toString().replace(busca,reemplaza);
		return text;
	}
