.container#windows_chat
	#body-msg
		%p#info.alert.alert-warning Por favor espere, en breve uno de nuestros administradores lo atenderá.
	%br
	= text_field_tag :message, "", class: "form-control", id: "field-msg", disabled: "disabled"
	= button_tag "enviar", class: "form-control", onclick: "send()", disabled: "disabled"
	= hidden_field :admin_id, ""
	= hidden_field :client_id, ""
	%audio#audio
		%source{src: "../assets/alert.mp3", type: "audio/mp3"}
		
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.1/socket.io.min.js" }
%script
	var socket = io.connect('//judibanaviajes.com:3002/');
	socket.emit("conectar_cliente", { 'name': "#{@user['name']}", 'email': "#{@user['email']}", 'question': "#{@user['question']}", 'id': "#{SecureRandom.hex(5)}", 'status': 0 });
	
:javascript

	socket.on('send-message-client', function(data) {
		if ($("#info").text() == "Por favor espere, en breve uno de nuestros administradores lo atenderá."){
			$("#info").remove();
			$(".form-control").removeAttr('disabled');
		}			
		$("#admin_id_").val(data.admin['id'])
		$("#client_id_").val(data.client['id'])
		$("#body-msg").append("<p><span class='label label-warning'><b>(Admin) "+data.admin['name']+"</b></span> : "+data.msg+"</p>")			
		var objDiv = document.getElementById("body-msg");
		objDiv.scrollTop = objDiv.scrollHeight;		
		$("#audio")[0].play();	
	});

	function send() {
		if($("#field-msg").val()){
			$("#body-msg").append("<p><span class='label label-info'><b>(Yo)</b></span> : "+$("#field-msg").val()+"</p>")
			socket.emit('send_message', { client_id: $("#client_id_").val(), admin_id: $("#admin_id_").val(), msg: $("#field-msg").val(), from: "client" })
			$("#field-msg").val("")
			var objDiv = document.getElementById("body-msg");
			objDiv.scrollTop = objDiv.scrollHeight;
		}
	}	

	$(document).keypress(function(e) {
	    if(e.which == 13) {
	       send();
	    }
	});

	socket.on('close_chat_admin', function(data) {
		$("#audio")[0].play();	
		$("#body-msg").append("<p class='chat-close'><div class='alert alert-danger' role='alert'>"+data.msg+"</div></p>")		
		var objDiv = document.getElementById("body-msg");
		objDiv.scrollTop = objDiv.scrollHeight;
		$(".form-control").attr('disabled', true);
	});