
<div class="login-form">
  <%= image_tag "logo.png", width:"400px" %>
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h3>Entrar</h3>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%- if devise_mapping.registerable? %>
          <%# link_to 'Sign up', new_registration_path(resource_name), class: 'right'  %>
        <% end -%>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
        <% end -%>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
        <%= f.submit 'Sign in', :class => 'button right' %>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
        <% end -%>
    <% end %>
  </div>
</div>