%img{ src: "http://parcatur.org/assets/logo-documents.png", width: "180px" }
%section.affiliate
	%h3{ style: "margin-bottom: 3px; margin-top: 0px;"}
		%center
			Planilla de afiliación
	%hr
	.container{ style: "margin-left: 20px; margin-right: 20px; width:100%;"}
		%div{ style: "margin-right: 40px;"}
			%h4{ style: "margin-top:0px; color:#26bf28; margin-bottom: 3px;" } Datos de la empresa u organización
			%hr{ style: "border-color:#26bf28;" }
			.show-body{ style: "padding: 10px; padding-top:3px;"}
				%p{ style: "font-size: 12px;"}
					%b Nombre/Razón social:
					= @affiliate.company_name
				%p{ style: "font-size: 12px;"}
					%b Presidente de la empresa:
					= @affiliate.president_name
				%p{ style: "font-size: 12px;"}
					%b Rif:
					= @affiliate.rif_type+@affiliate.company_rif
				%p{ style: "font-size: 12px;"}
					%b Número mercantil:
					= @affiliate.id_merchant
				%p{ style: "font-size: 12px;"}
					%b Domicilio fiscal:
					= @affiliate.comapny_address
				%p{ style: "font-size: 12px;"}
					%b Teléfono:
					= @affiliate.phone
				%p{ style: "font-size: 12px;"}
					%b Fax:
					= @affiliate.fax
				%p{ style: "font-size: 12px;"}
					%b Email:
					= @affiliate.company_email
				%p{ style: "font-size: 12px;"}
					%b Web:
					= @affiliate.company_web
		%div{ style: "margin-right: 40px;"}
			%h4{ style: "margin-top:0px; color:#0074be; margin-bottom: 3px;" }  Datos del representante ante Parcatur
			%hr{ style: "border-color:#0074be;" }
			.show-body{ style: "padding: 10px; padding-top:3px;"}
				%p{ style: "font-size: 12px;"}
					%b Nombre:
					= @affiliate.personal_name
				%p{ style: "font-size: 12px;"}
					%b Cédula/Rif:
					= @affiliate.personal_rif
				%p{ style: "font-size: 12px;"}
					%b Profesión:
					= @affiliate.personal_profession
				%p{ style: "font-size: 12px;"}
					%b Cargo que ocupa en la empresa:
					= @affiliate.position_personal_company
				%p{ style: "font-size: 12px;"}
					%b Antiguedad en la empresa:
					= @affiliate.old_personal_company
				%p{ style: "font-size: 12px;"}
					%b Teléfono de habitación:
					= @affiliate.personal_phone
				%p{ style: "font-size: 12px;"}
					%b Teléfono personal:
					= @affiliate.personal_mobile
				%p{ style: "font-size: 12px;"}
					%b Fax:
					= @affiliate.personal_fax
				%p{ style: "font-size: 12px;"}
					%b Dirección:
					= @affiliate.personal_address
				%p{ style: "font-size: 12px;"}
					%b Email:
					= @affiliate.personal_email
				%p{ style: "font-size: 12px;"}
					%b Web:
					= @affiliate.personal_web
	%hr
		%p{ style: "font-size: 12px; text-align: justify;"}
			= "Yo (nosotros)</b>, <b>#{@affiliate.personal_name.humanize}</b> en representación de la empresa: <b>#{@affiliate.company_name}</b> solicito ser admitido como miembro de la <b>CÁMARA DE TURISMO DE LA ZONA LIBRE DE PARAGUANÁ</b>, comprometiéndome a satisfacer la cuota anual que me corresponda, en la dirección antes mencionada. En conocimiento y comprometido con lo establecido en los Estatutos, firman conmigo la presente solicitud, dos socios de esa Cámara como proponentes.".html_safe
	.container{ style: "margin-left: 25px; margin-right: 20px; width:100%; margin-top:60px;"}
		%center
			%div{ style: "float:left; margin-right:20px;"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px; "} Firma del representante legal o Firma autorizada
			%div{ style: "float:left; margin-right:20px;"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px;"} Firma del socio que presenta
			%div{ style: "float:left"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px;"} Firma del socio que presenta
