= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: false, input_html: { class: 'form-control', placeholder: "Título" }
    %br
    = f.input :category_id, collection: Category.all(order: 'name'), prompt: "Seleccionar categoría", label: false, input_html: { class: 'form-control' }
    %br
    = f.cktext_area :content
    %br
    .col.md-12
      .col-lg-6.col-md-6
        - unless @post.image.blank?
          = image_tag f.object.image_url, width: "130px", style: "margin-left: 0px;"
        %br
        = f.input :image, label: false, input_html: { id: 'file-upload' }, as: :file
      .col-lg-6.col-md-6
        = f.input :public, :as => :boolean, label: "¿Publicar?", :input_html => { style: 'margin: 0px;'}
        = f.input :user_id, label: false, input_html: { class: 'form-control', value: "#{current_user.id}"}, as: :hidden
  .form-actions.col-lg-12.col-md-12
    = f.button :submit, "Guardar Post", class: "pull-right btn btn-primary"


