.container#comment-area{ style: "width:100%;"}
  .col-sm-12.col-md-12{style:"padding:0px;"}
    .col-sm-12.col-md-12{style:"padding:0px;"}
      %hr
      %h3{ style: "color: #1270A6;" } Comentarios
      - if @post.comments.count == 0
        .comment
          No hay comentarios
      - else
        .comments
          - @post.comments.reverse.each do |c|
            .media
              %a.pull-left{href: "#"}
                - unless  c.user
                  %img.media-object{alt: "...", src: "http://assets.witendofi.com/assets/default-avatar-2c18690c1ead5b30559911a0d7764ce0.png", style: "width:64px; heigth:64px;"}/
                - else 
                  //= image_tag c.user.avatar_url, id: "avatar-comment"
                  %img.media-object{alt: "...", src: "http://assets.witendofi.com/assets/default-avatar-2c18690c1ead5b30559911a0d7764ce0.png", style: "width:64px; heigth:64px;"}/
              .media-body
                %small.pull-right= time_ago_in_words(c.created_at)                
                %h4.media-heading= c.user ? "#{c.user.name} <small><span style='color: #1270A6;'>Participante</span></small>".html_safe : c.name
                = c.comment
      %hr
      %h3{ style: "color: #1270A6;"} Deja tu comentario

      %div#comentar
        = form_tag "/posts/add_new_comment" do
          = hidden_field_tag :id, @post.id
          = hidden_field_tag :user_id, current_user ? current_user.id : nil
          - unless current_user
            .col-md-12.input-comment
              Nombre
              = text_field_tag :name, nil,class: "form-control"
            %br
          .col-md-12.input-comment
            Contenido
            = text_area_tag :comment, nil,class: "form-control"
          %br
          %p
            = submit_tag "Comentar", class: 'button btn btn-primary btn-login'