/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require font-awesome
 *= require_self
 *= require bootstrap-datepicker
 */
@import "bootstrap";
@import "font-awesome";

body{
  background: #F0F0F0;
}
@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

.btn-judibana{
  background-color: #db3807;
  background: -webkit-linear-gradient(#db3807, #fa7900); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#db3807, #fa7900); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#db3807, #fa7900); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#db3807, #fa7900); /* Standard syntax (must be last) */
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

/*iframe {display:none !important;}
header iframe,
section iframe,
footer iframe,
div iframe { display:inline; }

iframe {display:none !important;}*/

.done-box{
  border-radius: 10px;
  border:1px solid #c0c0c0;
  padding:25px;
  padding-top: 10px;
  margin: 4em auto;
  margin-top: 0px;
  box-shadow: 0px 0px 10px #c0c0c0;
  background:#fff;
}

@media (max-width: 550px){
    
  .done-box h1{
    font-size: 20px;
  }
}

