// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_chat {
	position: fixed;
	top: 95%;
	left: 83%;
	background-color: #db3807;
	background: -webkit-linear-gradient(#db3807, #fa7900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#db3807, #fa7900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#db3807, #fa7900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#db3807, #fa7900); /* Standard syntax (must be last) */
	z-index: 10;
	width: 200px;
	border-radius: 10px 10px 0px 0px;
	padding:7px;
	padding-bottom:30px;
	color:#ffffff;
	box-shadow: 0px 0px 10px #000;
	padding-right: 0px;
	padding-right: 0px;
	.led-online{
		position: relative;
		top: -22px;
		left: 20px;
		background: #213338;
		border-bottom: 1px solid #fff;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin-top: 3px;
	}	
}
@media (max-width: 1200px){
	.button_chat {
		position: fixed;
		top: 95%;
		left: 78%;
	}	
}

@media (min-width: 1600px){
	.button_chat {
		position: fixed;
		top: 95%;
		left: 86%;
	}	
}

@media (max-width: 768px){
	.button_chat {
		position: fixed;
		top: 95%;
		left: 70%;
	}	
}

#body-msg {
	padding:10px;
	width: 100%;
	height: 300px;
	border: 1px solid black;
	overflow:auto;
}

.chat-close {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

#body-chat{
	background-color: #db3807;
	background: -webkit-linear-gradient(#db3807, #fa7900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#db3807, #fa7900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#db3807, #fa7900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#db3807, #fa7900); /* Standard syntax (must be last) */
    padding:10px;
}

.container-chat{
	background-color: #ffffff;
	padding: 10px;
}