#img-contact{
	width: 100%;
	height: 400px;
	background: image-url("contacto.jpg");
    background-size:cover;
	background-attachment: fixed;
	.title{
   	position: relative;
    left: 10%;
    top: 200px;
    width: 800px;
		p{	
	    	font-size: 60px;
	    	color: #db3807;    	
    		text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  
    		margin-top: -20px;	
    		width: 800px;
		}
		.min-title{
			width: 800px;
			color: #000;
			font-size: 30px;
			text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  	
		}
  }
  @media (max-width: 850px){
		.title{
			p{	
				padding-top: 10px;
	    	padding-bottom: 10px;
		    width: 450px;
		    font-size: 40px;
			}
			.min-title{
				font-size: 25px;
			}
  	}
	}
	@media (max-width: 550px){
		.title{
			left: 2%;
			p{	
		    	width: 300px;
		    	font-size: 25px;
			}
			.min-title{
				font-size: 15px;
			}
  	}
	}
}

.contactos-lista {
	list-style-type: none;
	padding: 0px;
	padding-top: 10px;

}

.contactos-input{
	width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
    border: 1px solid #c0c0c0;
}

.contactos-textarea{
	width: 100%;
	height: 100px;
    background: #fff;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
    border: 1px solid #c0c0c0;
}


#contactos{
	padding-top: 30px;
	padding-bottom: 30px;
}

.contactos-box{
	border-radius: 10px;
	border:1px solid #c0c0c0;
	padding:25px;
	padding-top: 0px;
	height: 450px;
	box-shadow: 0px 0px 10px #c0c0c0;
	background:#fff;
}

.contactos-box-horizontal{
	border-radius: 10px;
	border:1px solid #c0c0c0;
	padding:10px;
	padding-top: 0px;
	height: 390px;
	margin-top: 30px;
	box-shadow: 0px 0px 10px #c0c0c0;
	background:#fff;
}

#map_canvas1{
	width: 100%;
	height: 260px;
	border-radius: 0px 0px 10px 10px;
}

#map_canvas2{
	width: 100%;
	height: 260px;
	border-radius: 0px 0px 10px 10px;
}

.logo-contactos{
	width: 350px;
}