.home {
  .image-phone{
    background: image-url("image-3.jpg");
    background-size:cover;    
    height: 450px;
    width: 100%;
  }
  .image-1{
    background: image-url("image-1.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-2{
    background: image-url("image-2.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-3{
    background: image-url("image-3.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-4{
    background: image-url("image-4.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-5{
    background: image-url("image-5.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-6{
    background: image-url("image-6.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }

  .image-7{
    background: image-url("image-7.jpg");
    background-size:cover;    
    height: 650px;
    width: 100%;
  }
 
 
  .carousel-control.left {
    background: #252927;
    height: 100px;
    width: 50px;
    margin-top: 20%;
    border-radius: 0px 10px 10px 0px;
  }
  .carousel-control.right {
    background: #252927;
    height: 100px;
    width: 50px;
    margin-top: 20%;
    border-radius: 10px 0px 0px 10px;
  }

  .carousel-indicators {
    margin-bottom: -20px;
    bottom: 20px;
    background: #000;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 5px;
    left: 75%;
    border-radius: 10px 10px 0px 0px;
    background: #252927;
  }

  .container-orange{
    background: #fa7900;
    border-top: 10px solid #db3807;
    height: 150px;
    width: 100%;
  }
  .container-white{
    background: #FBEFEF;
    width: 100%;
    padding-bottom: 50px;
  }

  .container-hardorange{
    background: #db3807;
    height: 50px;
    width: 100%;
    padding-top: 20px;
    color:#ffffff;
  }

  .carousel-indicators li{
    background: #ffffff;
  }
  
  .carousel-indicators .active{
    background: #fa7900;
  }

  .box-home{
      background: #ffffff;
      width: 100%;
      height: 600px;    
      box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.4);
      margin-bottom: 30px;
      
    .title-reservas{
      background: #fff;
      width: 100px;
      padding:10px;
      position:relative;
      top:-40px;
    }
    
    .form-reservas{
      width: 100%;
      position:relative;
      top:-50px;
      padding:20px;
      padding-top: 10px;
      padding-bottom: 10px;

      .input-reserva{
        width: 100%;
        background: #EBEBEB;
        padding: 10px;
        border-radius: 10px;
        margin-top: 15px;
        border: 1px solid #c0c0c0;
      }

      .select-reserva{
        width: 100%;
        background: #EBEBEB;
        border-radius: 10px;
        margin-top: 15px;
        padding: 3px;
        border: 1px solid #c0c0c0;
      }

      #id-btn-reserva{
        margin-top: 15px;
        font-size: 20px;
      }
    }
  }

  .box-destino{
    background: #ffffff;
    width: 100%;
    height: 250px;   
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;

    .image-destino-1{
      width: 100%;
      height: 200px;
    }
    .title-destino{
      background: #db3807;
      height: 50px;
      width: 100%;
      h3{
        margin-top: 13px;
        font-size: 16px;
      }       
      .white-font{
        color: #ffffff;
      }
    }
    @media (max-width: 450px){
      .title-destino{
        padding-left: 20px;
          h3{
            font-size: 16px;
          }
      } 
    }     
  }

  .boxes-home{    
    margin-top: -130px; 
  }  


  @media (min-width: 1600px){
    .carousel-indicators {
      left: 77%;
    }
    .image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7{
      height: 800px;
    }

    .text-carrucel-5,.text-carrucel-1{
      position: relative;
      top: 500px;
      left: 900px;
    }
  }

  @media (max-width: 1325px){
    .text-carrucel-5 {
      left: 500px;
    }
    .text-carrucel-3{
      left: 400px;
    }
  }

  @media (max-width: 1200px){
    .carousel-control.left {
      background: #000000;
      height: 100px;
      width: 50px;
      margin-top: 25%;
      border-radius: 0px 10px 10px 0px;
    }
   .carousel-control.right {
      background: #000000;
      height: 100px;
      width: 50px;
      margin-top: 25%;
      border-radius: 10px 0px 0px 10px;
    }
    .box-home{
      height: 650px;  
      .image-destino-1{       
        height: 250px;
      }
      .image-destino-2{
        height: 250px;
      } 
    }
    .text-carrucel-3{
      left: 300px;
    }
  }

  @media (max-width: 1280px){
    .text-carrucel-5 {
      left: 450px;
    }
    .text-carrucel-1 {
      left: 300px;
    }
  }

  @media (max-width: 1050px){
    .text-carrucel-1 {
      left: 100px;
    }
    .text-carrucel-5 {
      left: 300px;
    }
  }

   @media (max-width: 990px){
      .box-home{
        height: 710px;  
      }
   }

  @media (max-width: 850px){
    .carousel-control.left {
      background: #000000;
      height: 100px;
      width: 50px;
      margin-top: 30%;
      border-radius: 0px 10px 10px 0px;
    }
  .carousel-control.right {
      background: #000000;
      height: 100px;
      width: 50px;
      margin-top: 30%;
      border-radius: 10px 0px 0px 10px;
    }
    .box-home{
      height: 710px;  
    }
  }
  
  @media (max-width: 762px){
    .carousel-control.left {
      background: none;
      height: 100px;
      width: 50px;
      margin-top: 40%;
      border-radius: 0px 10px 10px 0px;
    }
  .carousel-control.right {
      background: none;
      height: 100px;
      width: 50px;
      margin-top: 40%;
      border-radius: 10px 0px 0px 10px;
    }
    .box-home{
      height: 750px;   
    }
  }

  @media (max-width: 450px){
    .image-1{
      height: 400px;
    }
    .image-2{
      height: 400px;
    }
    .image-3{
      height: 400px;
    }
    .carousel-control.left {
      background: none;
      height: 100px;
      width: 50px;
      margin-top: 50%;
      border-radius: 0px 10px 10px 0px;
    }
    .carousel-control.right {
        background: none;
        height: 100px;
        width: 50px;
        margin-top: 50%;
        border-radius: 10px 0px 0px 10px;
      }
    .box-home{
      height: 750px;  
    }
  }
  
}

.text-carrucel-2{
  position: relative;
  top: 300px;
  left: 100px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 550px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 350px;
    color: #fff;
    padding: 5px;
    padding-left: 19px;
    font-size: 18px;
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 328px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-3{
  position: relative;
  top: 200px;
  left: 600px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 700px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 280px;
    color: #fff;
    padding: 5px;
    padding-left: 28px;
    font-size: 18px;
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 245px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-4{
  position: relative;
  top: 300px;
  left: 100px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width:600px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 405px;
    color: #fff;
    padding: 5px;
    padding-left: 23px;
    font-size: 18px; 
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 380px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-7{
  position: relative;
  top: 300px;
  left: 100px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 400px;
    color: #fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 283px;
    color: #fff;
    padding: 5px;
    padding-left: 25px;
    font-size: 18px;  
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 255px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-6{
  position: relative;
  top: 300px;
  left: 100px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 630px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 325px;
    color: #fff;
    padding: 5px;
    padding-left: 23px;
    font-size: 18px; 
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 300px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-5{
  position: relative;
  top: 400px;
  left: 700px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 620px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 240px;
    color: #fff;
    padding: 5px;
    padding-left: 18px;
    font-size: 18px;  
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 220px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}

.text-carrucel-1{
  position: relative;
  top: 350px;
  left: 540px;
  .titulo{
    background-color: rgba(0, 0, 0, 0.9);
    width: 720px;
    color:#fff;
    padding: 2px;
    height: 75px;
    h1{
      font-size: 30px;
    }
  }
  .texto p{
    background-color: rgba(0, 0, 0, 0.7);
    width: 265px;
    color: #fff;
    padding: 5px;
    padding-left: 25px;
    font-size: 18px; 
  }
  .texto .btn-image{
    float: left;
    position: relative;
    top: -30px;
    left: 225px;
    border-radius: 0px;
    padding: 6.5px;
    background: #fa7900;
  }
}