#navbar-home.navbar-default {
	font-family: Helvetica, sans-serif;
	font-size: 1.0em;
	background-color: rgba(0, 3, 0, 0.9);
	border: 3px solid #c0c0c0;
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;

	.logo-brand {
		width: 190px;
		margin:9px;
	}

	.navbar-nav > li > a {
		color: white;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.enable {
		position: relative;	
		background-color: #db3807;
	}

	.navbar-nav > .enable > a {
		color: #ffffff;
	}
}

.navbar-default .navbar-toggle {
	margin-top: 17px;
}

.redes-bar{
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #000;
	padding: 4px;
	height: 35px;
	.fb {
	  	position: absolute;
		top:4px;
		left: 120px;
		z-index: 1;
		background-color: #045FB4;
		color: #ffffff;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		padding-top: 4px;
	}
/* line 42, /home/miguel/Proyectos/judibana/app/assets/stylesheets/navbar-navigation.css.scss */
 	.tw {
		position: absolute;
		top:4px;
		left: 165px;
		z-index: 1;
		background-color: #2ECCFA;
		color: #ffffff;
		height: 25px;
		width: 25px;
		border-radius: 50%;	
		padding-top: 4px;
	}
/* line 52, /home/miguel/Proyectos/judibana/app/assets/stylesheets/navbar-navigation.css.scss */
 	.contact {
	  margin-left: 10px;
	  background-color: #04B45F;
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
	  padding-top: 3px;
	  padding-bottom: 7px;
	  color: #ffffff;
	  margin-left: -50px;
	  margin-right: 20px;
	}
	.contac-info{
		margin-top: 5px;
		margin-left: -45px;
		color: #ffffff;
	}
}

#judibana-navbar{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.es{
	position: absolute;
	top:4px;
	left: 210px;
	z-index: 1;
	background-color: #db3807;
	color: #ffffff;
	text-decoration: none;
	height: 25px;
	width: 25px;
	border-radius: 50%;	
	padding-left: 4px;
	padding-top: 2px;
}

.en{
	position: absolute;
	top:4px;
	left: 250px;
	z-index: 1;
	background-color: #fa7900;
	color: #ffffff;
	height: 25px;
	width: 25px;
	border-radius: 50%;	
	padding-left: 4px;
	padding-top: 2px;
}

#link_locales a {
    color: #ffffff;
    text-decoration: none;
}

#link_locales a:hover {
    color: #ffffff;
    text-decoration: none;
}