#img-news{
	width: 100%;
	height: 400px;
	background: image-url("adicora.jpg");
    background-size:cover;
	background-attachment: fixed;
	.title{
   	position: relative;
    left: 10%;
    top: 200px;
    width: 800px;
		p{	
	    	font-size: 60px;
	    	color: #db3807;    	
    		text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  
    		margin-top: -20px;	
    		width: 800px;
		}
		.min-title{
			width: 800px;
			color: #000;
			font-size: 30px;
			text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  	
		}
  }
  @media (max-width: 850px){
		.title{
			p{	
				padding-top: 10px;
	    	padding-bottom: 10px;
		    width: 400px;
		    font-size: 40px;
			}
			.min-title{
				font-size: 25px;
			}
  	}
	}
	@media (max-width: 550px){
		.title{
			left: 2%;
			p{	
		    	width: 250px;
		    	font-size: 25px;
			}
			.min-title{
				font-size: 15px;
			}
  	}
	}
}

.news {

	
	.news-title {
		color: #888;
		h4 {
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}

	.news-title:hover {
		text-decoration: none;
		color: #333333;
	}

	.news-posts {
		.post-image {
			margin-top: 10px;
			border: 1px solid #999999;
			padding: 5px;
			border-radius: 5px;
		}

		.post-text {
			margin-top: 15px;
		}

		.delete-image {
			img {
				display: none;
			}
		}

		i {
			color:#888;
			margin-right: 2px;
		}

		small {
			margin-right: 8px;
		}
	}

	.timeline-header {
		padding: 0px;
	}
}

.widget{
	margin-top: 15px;
	margin-bottom: 30px;
	border: 1px solid #eee;
	.widget-header {
		padding: 5px;
		padding-left: 20px;
		h4 {
			color: white;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}

	.content-widget {
		background-color: #fcfcfc;
		padding: 10px;
	}

	ul {
		margin-top:10px;
		padding-left: 10px;

		li {
			list-style-type: none;
		}
	}
}

/*large desktop*/
  @media(min-width:1200px) {
 		.news-image {
			width: 100%;
			height: 400px;
		}
  }

  /*media desktop*/
  @media(min-width:992px){
  	.news-image {
			width: 100%;
			height: 300px;
		}
  }

  /*phone*/
  @media(max-width:767px) {
  	.news-image {
			width: 100%;
			height: 200px;
		}
  }

  /*phone portrait*/
  @media(max-width: 767px) and (orientation : portrait) {
  	.socials-shared {
  		display: none;
  	}
  }

  /*tablet*/
  @media(min-width:768pxs) {
  	.news-image {
			width: 100%;
			height: 200px;
		}
  }

  /*tablet portrait*/
  @media(min-width:768px) and (orientation : portrait) {
  	.news-image {
			width: 100%;
			height: 300px;
		}
  }
.post-min{
	padding: 10px;
	padding-top: 3px;
	box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.4);
	background: #fff;
	min-height: 350px;
	
	h3{
		color: #db3807;
		text-decoration: none;
		font-weight: bold;
	}

	h3:hover{
		color: #fa7900;
		text-decoration: none;
		font-weight: bold;
	}

	.news-title:hover{
		text-decoration: none;
	}

	.post-image-min {
		margin-top: 10px;
		border: 1px solid #999999;
		padding: 5px;
		border-radius: 5px;
		img{
			height: 200px;
		}
	}
}