#img-nosotros{
	width: 100%;
	height: 400px;
	background: image-url("avion.jpg");
    background-size:cover;
	background-attachment: fixed;
  .title{
   	position: relative;
    left: 10%;
    top: 200px;
    width: 800px;
		p{	
	    	font-size: 60px;
	    	color: #db3807;    	
    		text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  
    		margin-top: -20px;	
    		width: 800px;
		}
		.min-title{
			width: 800px;
			color: #000;
			font-size: 30px;
			text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  	
		}
  }
  @media (max-width: 850px){
		.title{
			p{	
				padding-top: 20px;
	    	padding-bottom: 20px;
		    width: 350px;
		    font-size: 40px;
			}
			.min-title{
				font-size: 25px;
			}
  	}
	}
	@media (max-width: 550px){
		.title{
			left: 2%;
			p{	
		    	width: 300px;
		    	font-size: 25px;
			}
			.min-title{
				font-size: 15px;
			}
  	}
	}
}
#nosotros{
	padding-bottom: 50px;
	padding-top: 50px;
}

@media (min-width: 1600px){
	#nosotros{
		padding-top: 100px;	
	}
}
.container-orange{
    border-top: 10px solid #db3807;
    height: 10px;
    width: 100%;
  }

