// Place all the styles related to the paquetes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img-packages{
	width: 100%;
	height: 400px;
	background: image-url("medanos.jpg");
    background-size:cover;
	background-attachment: fixed;
  .title{
   	position: relative;
    left: 10%;
    top: 200px;
    width: 800px;
		p{	
	    	font-size: 60px;
	    	color: #db3807;    	
    		text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  
    		margin-top: -20px;	
    		width: 800px;
		}
		.min-title{
			width: 800px;
			color: #000;
			font-size: 30px;
			text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  	
		}
  }
  @media (max-width: 850px){
		.title{
			p{	
				padding-top: 10px;
	    	padding-bottom: 10px;
		    width: 450px;
		    font-size: 40px;
			}
			.min-title{
				font-size: 25px;
			}
  	}
	}
	@media (max-width: 550px){
		.title{
			left: 2%;
			p{	
		    	width: 300px;
		    	font-size: 25px;
			}
			.min-title{
				font-size: 15px;
			}
  	}
	}
}
#packages{
	padding-top: 10px;
	padding-bottom: 50px;
	.box-home{
	    background: #ffffff;
	    width: 100%;
	    height: 250px;   
	    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.4);
	    margin-bottom: 30px;

	    .image-destino-1{
	      width: 100%;
	      height: 200px;
	    }
	    .title-destino{
	      background: #db3807;
	      height: 50px;
	      width: 100%;
	      padding-left: 30px;
	      h3{
	        margin-top: 13px;
	        font-size: 20px;
	      }	      
	      .white-font{
	        color: #ffffff;
	      }
	    }
	    @media (max-width: 450px){
				.title-destino{
					padding-left: 10px;
				  	h3{
				      font-size: 16px;
				    }
				}	
			}
    }
}




.container-hardorange{
	background: #db3807;
	height: 110px;
	width: 100%;	
    padding-top: 5px;
    color:#ffffff;
    font-size:20px;

}

.container-orange{
    border-top: 10px solid #db3807;
    height: 10px;
    width: 100%;
  }


#img-package{
	width: 100%;
	height: 400px;
  .title{
   	position: relative;
    left: 10%;
    top: 200px;
    max-width:600px;
		p{	
	    	padding-top: 30px;
	    	padding-bottom: 30px;
	    	max-width:600px;
	    	font-size: 60px;
	    	color: #ffffff;	 
	    	font-weight: bold; 
	    	text-shadow: 0px 0px 10px rgba(0, 3, 0, 0.8);  		
		}
		.min-title{
			color: #db3807;
			font-size: 30px;
			text-shadow: 0px 0px 1px rgba(0, 3, 0, 0.8);  	
		}
  }
}

#package{
	padding-top: 30px;
	padding-bottom: 30px;
}

.box-home{
    background: #ffffff;
    width: 100%;
    height: 200px;   
    box-shadow: 5px 5px 20px #424242;
}

.input-reserva{
	width: 100%;
    background: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid #c0c0c0;
}

.select-reserva{
    width: 100%;
    background: #EBEBEB;
    border-radius: 10px;
    margin-top: 15px;
    padding: 3px;
    border: 1px solid #c0c0c0;
}
#id-btn-reserva{
	margin-top: 15px;
	font-size: 20px;
}

.reserva-package-box{
	border-radius: 10px;
	border:1px solid #c0c0c0;
	padding:25px;
	margin-top: 20px;
	padding-top: 0px;
	height: auto;
	box-shadow: 0px 0px 10px #c0c0c0;
	background:#fff;
}