= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: false,input_html: { class: 'form-control', placeholder: "Nombre" }
  %br
  .form-actions
    = f.button :submit, "Guardar Categoría", class: "pull-right btn btn-primary"
