= content_for(:title, "Admin - Categorías")
%center
  %h1 Listado de categorías
  = link_to "Nueva Categoría", new_category_path, class: 'btn btn-success'

%table.table.datatable
  %thead
    %tr
      %th Nombre
      %th 
      %th 
      %th 

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'Vista previa', category
      %td= link_to 'Editar', edit_category_path(category)
      %td= link_to 'Eliminar', category, :method => :delete, :data => { :confirm => 'Si elimina esta categoria, se eliminaran todos los posts relacionados, ¿estas seguro de querer eliminar?' }

%br

= render "layouts/script_datatable"
