<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div style="padding:10px;background:#FF8000;color:#fff;width:100%;">
    <center>
      <h1>Reserva de Paquete - Judibana Viajes</h1>
    </center>
   </div>
	<table border="1" style="width:100%;border:1px solid black;border-collapse:collapse;">
		<tr>
		  <th style="padding:10px;background:#D8D8D8;"><center>Fecha</center></th> 
		  <th style="padding:10px;background:#D8D8D8;"><center>Hora</center></th> 
		  <th style="padding:10px;background:#D8D8D8;"><center>Tipo de Reserva</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Agencia</center></th> 		
		</tr>
		<tr>		 
		  <td style="padding:10px;"><center><%= Time.new.strftime("%Y-%m-%d") %></center></td> 
		  <td style="padding:10px;"><center><%= Time.new.strftime("%H:%M:%S") %></center></td> 
		  <td style="padding:10px;"><center>Paquete</center></td>
		  <td style="padding:10px;"><center>C.C <%= @agencia %></center></td>
		</tr>
		<tr>
		  <th style="padding:10px;background:#D8D8D8;"><center>C.I o N° Pasaporte</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Nombre</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Apellido</center></th> 
		  <th style="padding:10px;background:#D8D8D8;"><center>Email</center></th> 
		</tr>
		<tr>
		  <td style="padding:10px;"><center><%= @cedula %></center></td> 
		  <td style="padding:10px;"><center><%= @nombre %></center></td>
		  <td style="padding:10px;"><center><%= @apellido %></center></td> 
		  <td style="padding:10px;"><center><%= @email %></center></td> 		
		</tr>
		<tr>
		  <th style="padding:10px;background:#D8D8D8;"><center>Origen</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Destino</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Salida</center></th> 
		  <th style="padding:10px;background:#D8D8D8;"><center>Retorno</center></th> 
		</tr>
		<tr>
		  <td style="padding:10px;"><center><%= @origen %></center></td> 
		  <td style="padding:10px;"><center><%= @destino %></center></td>
		  <td style="padding:10px;"><center><%= @salida %></center></td> 
		  <td style="padding:10px;"><center><%= @retorno %></center></td> 
		</tr>
		<tr>
		  <th style="padding:10px;background:#D8D8D8;"><center>Mayores</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Adultos</center></th>
		  <th style="padding:10px;background:#D8D8D8;"><center>Niños</center></th> 
		  <th style="padding:10px;background:#D8D8D8;"><center>Bébes</center></th> 
		</tr>
		<tr>
		  <td style="padding:10px;"><center><%= @mayores %></center></td> 
		  <td style="padding:10px;"><center><%= @adultos %></center></td>
		  <td style="padding:10px;"><center><%= @nino %></center></td> 
		  <td style="padding:10px;"><center><%= @bebes %></center></td> 
		</tr>
	</table>
  </body>
</html>