%footer#footer-2{ class: "#{'fixed' if params[:action] == 'contact_us'}", style: 'background-color: #213338;' }
	%center
		Todos los derechos reservados 2014. Desarrollado por
		%a{ href: 'http://www.tremmelca.com', target: '_blank' }
			%span TREMMEL