.container-hardorange
	%center
		.col-lg-4.col-md-4.hidden-sm.hidden-xs
			= image_tag 'avavit03.png', width: "300px"
		.col-lg-4.col-md-4{style: "font-size:25px;padding-top:30px"}
			= t('home.items.footer')
		.col-lg-4.col-md-4.hidden-sm.hidden-xs
			= image_tag 'avavit04.png', width: "150px"
%footer#footer-1.bs-docs-footer
	.row
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			Desarrollado por
			= link_to "http://slicegroup.xyz/" do
				= image_tag 'slice.png', width: "60px", style: "display: inline; margin-left: 5px; margin-bottom: 3px;"
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			%center
				=t('footer.texto')
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			.pull-right
				Diseñado por
				= link_to "http://studiomuffin.com/" do
					= image_tag 'muffin.png', width: "80px", style: "display: inline; margin-left: 5px; margin-bottom: 3px;"
		