- if current_user
	%li{ class: "#{'active' if params[:controller] == 'posts'}" }= link_to 'Posts', posts_path
	- if current_user.has_role? :admin
		%li{ class: "#{'active' if params[:controller] == 'categories'}" }= link_to 'Categorías', categories_path
		%li{ class: "#{'active' if params[:controller] == 'paquetes'}" }= link_to 'Paquetes', paquetes_path
		%li{ class: "#{'active' if params[:controller] == 'chats'}" }= link_to 'Soporte al Cliente', chats_index_path
		%li{ class: "#{'active' if params[:controller] == 'users'}" }= link_to 'Usuarios', users_path
	%li= link_to 'Salir', destroy_user_session_path, method: :delete
