%li{ class: "#{'enable' if params[:action] == 'index'}" }= link_to "#{t('home.items.index')}", root_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if params[:action] == 'about'}" }= link_to "#{t('home.items.about')}", home_about_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if params[:action] == 'packages'}" }= link_to "#{t('home.items.packages')}", home_packages_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if ['news', 'show'].include? params[:action] and params[:controller] != 'affiliates'  }" }= link_to "#{t('home.items.news')}", home_news_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if params[:action] == 'contact_us'}" }= link_to "#{t('home.items.contact')}", home_contact_us_path, data: { no_turbolink: true }


