-# para editar esta barra se usa el id #navbar-home
#judibana-navbar
  .redes-bar
    .container#container-redes
      .row
        .fb
          %center
            %a{href:"https://www.facebook.com/pages/Judibana-Viajes/1500588213509680", target:"_blank", style:"color:#fff"}
              %i.fa.fa-facebook
        .tw
          %center
            %a{href:"https://twitter.com/judibanaviajes", target:"_blank", style:"color:#fff"}
              %i.fa.fa-twitter

        .col-lg-5.col-md-6.hidden-sm.hidden-xs.pull-right
          .col-lg-6.col-md-6.col-sm-6
            .col-lg-1.col-md-1.com-sm-1
              .contact
                %center
                  %i.fa.fa-envelope 
            .col-lg-6.col-md-6.com-sm-6
              .contac-info
                info@judibanaviajes.com
          .col-lg-6.col-md-6.col-sm-6
            .col-lg-1.col-md-1.com-sm-1
              .contact
                %center
                  %i.fa.fa-phone 
            .col-lg-6.col-md-6.com-sm-6
              .contac-info
                +58(0269)2473659/2461254
    
  %nav.navbar.navbar-default#navbar-home
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = image_tag 'logo-2.png', class: 'logo-brand '
        = #link_to 'Judibana Viaje', root_path, class: 'navbar-brand visible-xs visible-sm'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.pull-right.hidden-xs
          = render 'layouts/navigation_links'
        %ul.nav.navbar-nav.visible-xs
          = render 'layouts/navigation_links'
.es#link_locales
  = link_to "Es", { :locale => "es" }, data: { no_turbolink: true }
.en#link_locales
  = link_to "En", { :locale => "en" }, data: { no_turbolink: true }