%section.news
	.container
		%h2
			.visible-xs{style: "margin-top:15px;"}
				= form_tag home_news_path, :method => 'get' do
					.input-group
						= text_field_tag :search, params[:search], class: "form-control"
						%span.input-group-btn
							= submit_tag "Buscar", :name => nil, class: "form-control"
	

		.col-lg-8.col-md-8.col-sm-8.col-xs-12.news-posts
			- if params[:action] == 'news'
				= render 'newsall'
			- elsif params[:action] == 'show'
				= render 'show'

		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.widget.hidden-xs
				.widget-header{ style: 'background-color: #fa7900;'}
					%h4= t('noticias.buscar')
				.content-widget
					= form_tag home_news_path, :method => 'get' do
						.input-group
							= text_field_tag :search, params[:search], class: "form-control"
							%span.input-group-btn
								= submit_tag t('noticias.buscar'), :name => nil, class: "form-control"

			.widget
				.widget-header{ style: 'background-color: #fa7900;'}
					%h4= t('noticias.ultimas_noticias')
				.widget-content
					%ul
						- @recents_posts.each do |post|
							%li
								= link_to news_show_path(post.id), class: "news-title", data: { no_turbolink: true } do
									%h4{ style: 'font-size: 14px; font-weight: normal;'}= post.title

			.widget
				.widget-header{ style: 'background-color: #fa7900;'}
					%h4 Tweets
				.widget-content
					%center
						%a.twitter-timeline{ href:"https://twitter.com/PARCATUR", "data-widget-id"=>"#{Blog.widget_twitter_id}", "data-chrome"=>"noheader" } Tweets por @PARCATUR 

%script{ src:"//platform.twitter.com/widgets.js" }

- if params[:action] == 'show'
	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		//facebook share
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		//google+ share
		window.___gcfg = {lang: 'es'};

		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

		//chat-comment-facebook
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));