!!!
%html
  %head
    = favicon_link_tag 'favicon.png'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Agencia de Viajes en Venezuela - Judibana Viajes'
    %script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{ src:"https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.1/socket.io.min.js" }
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62982236-1', 'auto');
      ga('send', 'pageview');
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'La agencia de viajes judibana con mas de 50 años de experiencia cuenta con un equipo altamente profesional, que está a la vanguardia de los nuevos tiempos para satisfacer las exigencias, viaja y vive tus sueños con nosotros..'}"}
    %link{ href:'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel:'stylesheet', type:'text/css' }
    %link{ href:"http://fonts.googleapis.com/css?family=Raleway:400,900", rel:"stylesheet", type:"text/css" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script
      var socket = io.connect('//judibanaviajes.com:3002/');
      - if current_user
        socket.emit("conectar_admin", { 'name': "#{current_user.name}", 'id': "#{current_user.id}", 'role': "#{current_user.roles.first.name}" });
  %body
    - if ['home'].include? params[:controller] #lista de controladores que se mostraran en el navbar del homepage
      = render 'layouts/navigation'     
    - else #controladores que se mostraran en el navbar de la administracion
      = render 'layouts/navigation_admin'
      = #render 'layouts/messages'
      
    - if ['users', 'categories', 'posts', 'admin', 'chats','paquetes'].include? params[:controller]
      .container.admin
        = yield
    - else
      - unless current_user
        %button.hidden-xs.button_chat.button_enable
          .row
            %b
              = t('home.atencion.titulo')
            .led-online

      = yield
      = render 'layouts/footer'

    - if ['users', 'categories', 'posts', 'admin'].include? params[:controller]
      = #render 'layouts_admin/footeradmin'


:javascript
  $(".button_chat").attr('disabled','disabled');  
  socket.on('button', function(data){
    if (data == true) {
      $(".led-online").css("background", "#2EFE2E")
      $(".led-online").css("box-shadow", "0px 0px 10px #80FF00")
      $(".button_chat").addClass("button_enable")
      $(".button_chat").removeAttr('disabled');
    } else {
      $(".led-online").css("background", "#213338")
      $(".led-online").css("box-shadow", "none")
      $(".button_chat").attr('disabled','disabled');
    }
  });

