%html
	%head
		= favicon_link_tag 'favicon.png'
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title= content_for?(:title) ? yield(:title) : 'Judibana Viajes - Atención al Cliente'
		%link{ href:'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel:'stylesheet', type:'text/css' }
		%link{ href:"http://fonts.googleapis.com/css?family=Raleway:400,900", rel:"stylesheet", type:"text/css" }
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body#body-chat
		.modal-content
			.modal-header					
				.modal-title 					
					= image_tag 'logo.png', width: '300px'
					%center
						%p							
							- if current_user
								%h4 
									= params[:name].sub("_", " ")
							- else
								%h4 Atención en linea 
			.modal-body
				= yield
			
		